@mixin link($color, $word) {
  text-decoration: none;
  display: block;
  @if $word == 3 {
    color: orange;
  } @else if $word == 4 {
    color: green;
  } @else {
    color: $color;
  }
}

$minIphone: 500px;
$maxIphone: 700px;
$minIpad: 800px;
$maxIpad: 1100px;

@mixin responsive($device) {
  @if $device == "iphone" {
    @media screen and (min-width: $minIphone) and (max-width: $maxIphone) {
      @content;
    }
  } @else if $device == "iphone-l" {
    @media screen and (min-width: $minIphone) and (max-width: $maxIphone) and (orientation: landscape) {
      @content;
    }
  } @else if $device == "ipad" {
    @media screen and (min-width: $minIpad) and (max-width: $maxIpad) {
      @content;
    }
  } @else if $device == "ipad-l" {
    @media screen and (min-width: $minIpad) and (max-width: $maxIpad) and (orientation: landscape) {
      @content;
    }
  } @else {
    @media screen and (max-width) {
      @content;
    }
  }
}
