@import "./variables";
@import "./mixins";
@import "./extends";

h1 {
  color: $red;
  @include responsive("iphone") {
    color: yellow;
  }
  @include responsive("iphone-l") {
    font-size: 60px;
    font-weight: 700;
  }
  @include responsive("ipad") {
    color: green;
  }
  @include responsive("ipad-l") {
    font-size: 100px;
  }
}
